<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAC OAuth Client</title>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="icon" type="image/x-icon" href="icon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="icon.ico"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="outer">
    <div class="middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <h1 class="text-center login-title">Authorize with SAP Cloud Identity</h1>
                    <div class="account-wall">
                        <img class="profile-img" src="img/user.png">
                        <div class="form-signin">
                            <div class="dummy"> SAP Cloud Identification Service</div>
                            <button class="btn btn-lg btn-primary btn-block" onclick="window.location.href='./authorize'"> Login
                            </button>
                        </div>
                    </div>
                    <p class="text-center impress">SAP Analytics PM - Rapid Innovation Group</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>